@model List<MVCNETCORE.Models.Domain.Employee>
@{
}

<h1>Employees</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>

</table>
