@model RentaCar.Models.ViewModels.AddCar; // telling the asp.net core that this model is the model we'll be using for data binding
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1 class="text-center">Add a new car</h1>
    </div>
</div>

<script>
    function clrForm()
    {
        document.getElementById("name").value = ' ';
        document.getElementById('type').value = ' ';
        document.getElementById('travelled').value = ' ';
        document.getElementById('rating').value = ' ';
        document.getElementById('description').value = ' ';
    }
</script>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Type</label>
            <input type="text" class="form-control" id="type" asp-for="Type" />
        </div>
        <div class="mb-3">
            <label class="form-label">Tavelled</label>
            <input type="text" class="form-control" id="travelled" asp-for="Kms" />
        </div>
        <div class="mb-3">
            <label class="form-label">Rating</label>
            <input type="text" class="form-control" id="rating" asp-for="Rating" />
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" id="description" asp-for="Description" />
        </div>
        <div class="mb-3 py-3">
            <button onclick="clrForm()" type="submit" class="btn btn-sm btn-dark">Submit</button>
        </div>
    </form>
</div>